#buttonList {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 5px;
    cursor: pointer;
}

#shotButton {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 15px;
    cursor: pointer;
    background-color: #ffffff;
    color: #ffffff;
    border: none;
}