.header {
    position: absolute;
    top: 1%;
    left: 0%;
    width: 414px;
    height: 80px;
    text-align: center;
    color: #ef2626;
    border: 0;
    border-radius: 15%;
    font-family: Pacifico, cursive;
    font-size: 17pt;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}


#ModelButton {
    bottom: 25px;
    left: 7%;
    position: absolute;
    border: 0;
    border-radius: 60px;
    background: #6592ec;
    color: #fff;
    padding: 8px 16px;
    font-size: 18px;
    font-family: pacifico, cursive;
}


#ShotButton {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    border-radius: 100%;
    background-color: #fff;
}