.header {
    position: absolute;
    top: 1%;
    left: 0%;
    background-color: aliceblue;
    width: 414px;
    height: 80px;
    text-align: center;
    color: #ef2626;
    border: 0;
    border-radius: 15%;
}




#ModelButton {
    bottom: 25px;
    left: 7%;
    position: absolute;
    border: 0;
    border-radius: 60px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}


#ShotButton {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    border-radius: 100%;
    background-color: #fff;
}